/* home.component.scss */

// Styling for the content container
.content {
  text-align: center;
  margin-top: 50px;

  // Styling for the heading within the content
  h1 {
    font-size: 2em;
    margin: 0px 0px 50px 0px;
  }

  // Styling for images within the content
  img {
    width: 180px;
    height: 180px;
  }

  // Styling for Nebular card component within the content
  nb-card {
    width: 60%;
    height: 400px;
    background: linear-gradient(to bottom right, blue, pink);
  }

  // Styling for Nebular button components within the content
  nb-button {
    margin: 50px 20px;
    font-size: 1em;
    padding: 10px 20px;
    cursor: pointer;
  }

  // Styling for primary-colored button
  #primary {
    background-color: #3498db;
    color: #ffffff;
    border-radius: 5px;
  }

  // Styling for success-colored button
  #success {
    background-color: #2ecc71;
    color: #ffffff;
    border-radius: 5px;
  }

  // Hover effect for primary-colored button
  #primary:hover {
    filter: brightness(90%);
  }

  // Hover effect for success-colored button
  #success:hover {
    filter: brightness(90%);
  }
}
