/* Customize your styles here */

// Styling for the navbar
#navbar {
  color: nb-color('text-alternate');
  width: 100%;
  background-color: rgb(179, 0, 255);
}

// Styling for the heading link in the navbar
#heading {
  font-size: 25px;
  text-decoration: none;
}

// Styling for Nebular actions, ensuring full width
nb-actions {
  width: 100%;
}

// Styling for links within Nebular actions
nb-actions nb-action a {
  font-size: 18px;
}
