// Styling for the footer container
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95vw;
  background-color: rgb(179, 0, 255);
  margin: 0%;
  color: rgb(255, 255, 255);
  padding: 10px;
}

// Styling for paragraph elements within the footer
p {
  margin: 2px 0px;
}

// Styling for heading level 6 elements within the footer
h6 {
  margin-top: 0px;
  margin-bottom: 5px;
}
