// Styling for Nebular layout column
nb-layout-column {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  // Styling for Nebular card header
  nb-card-header {
    color: white;
  }
  
  // Styling for Nebular card component
  nb-card {
    width: 50%;
    height: 300px;
    background: linear-gradient(to bottom right, blue, pink);
  }
  
  // Styling for form group labels
  .form-group label {
    padding: 5px;
    display: block;
    color: white;
  }
  
  // Styling for form group input fields
  .form-group input {
    margin-bottom: 5px;
    padding: 0px 15px;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 5px;
  }
  
  // Styling for buttons
  button {
    margin-top: 40px;
  }
  